/* CSS Document */


a{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-style: normal;
	line-height: normal;
	font-weight: normal;
	color: #940303;
	text-decoration: underline;
}

a:hover {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-style: normal;
	line-height: normal;
	font-weight: normsl;
	color: #2e4f70;
	text-decoration: none;
}

a.leftFrame {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-style: normal;
	line-height: normal;
	font-weight: bold;
	align: right;
	color: #6f859c;
	text-decoration: none;
}		

a.leftFrame:hover {
	font-family: Verdana;
	font-size: 11px;
	font-style: normal;
	line-height: normal;
	font-weight: bold;
	color: #284565;
	text-align: right;
	text-decoration: none;
}

a.leftFrame:active {
	font-family: Verdana;
	font-size: 11px;
	font-style: normal;
	line-height: normal;
	font-weight: bold;
	color:#940303 ;
	text-align: right;
	text-decoration: none;
}
	
h1 {
	font-family: Verdana;
	font-size: 12px;
	font-style: normal;
	font-weight: bold;
	color: #010101;
	text-align: left;
	
}

p.bold {
	font-family: Verdana;
	font-size: 11px;
	font-style: normal;
	font-weight: bold;
	color: #010101;
	text-align: justify;
}

p {
	font-family: Verdana;
	font-size: 11px;
	font-style: normal;
	color: #010101;
	text-align: justify;
}


ul.none {
	list-style-type: none
}

ul.disc {
	list-style-type: disc
}


ol.decimal {
	list-style-type: decimal
}


body {
	font-family: Verdana;
	font-size: 11px;
	font-style: normal;
	color: #010101;
	align: justify;
	background-repeat: no-repeat;
	width:100%;
	margin: 0;
}

.header {
	width: 100%;
    	height: 130px;
   	background: #c1cad3 url('../img/clarin_header.jpg');
    	background-repeat: no-repeat;
    	background-position: center;
	border-bottom: solid 1px #000;
}

.footer {
	width: 100%;
	border-top: solid 1px #000;
}

.main {
	width: 100%;
	padding: 10px;
}

red {font-family: Verdana;
	 font-size: 11 px;
	 font-style: normal;
	 font-weigth: bold;
	 font-color: #940303;
}

table {
	font-family: Verdana;
	font-size: 11px;
	font-style: normal;
	color: #010101;
	align: left;
  	vertical-align: top;
        border-collapse: collapse;
        empty-cells: show;
}

th    { background-color: #dddddd;
      }

table.right {
	font-family: Verdana;
	font-size: 11px;
	font-style: normal;
	color: #010101;
	text-align: right;
  	vertical-align: top;
      }

dt    { font-weight: bold;
      }
